<h3 class="center-align">Who we are</h3>
<div class="row center-align">
    <div class="col s12 m1"></div>
    <div class="col s12 m5">
        <h4>Our Mission</h4>
        <p>WillWin's mission is to provide children the experience of interacting with their parents in a safe and neutral environment as their parents work through difficult legal, relational, and family issues.
        </p>
    </div>
    <div class="col s12 m5">
        <h4>Our Goal</h4>
        <p>WillWin's goal is to maintain respectful neutrality with both parents as we help them build a cooperative parenting relationship that focuses on the needs and safety of their children.</p>
    </div>
    <div class="col s12 m1"></div>
</div>
<div class="row center-align">
    <div class="col s12 m4"></div>
    <div class="col s12 m4">
        <img class="responsive-img" src="../img/child.jpg">
        <p>WillWin recognizes the importance for children to be children and to have safe and healthy relationships with both parents. Children are best served when they are free from witnessing or being put in the middle of parental conflict.</p>
    </div>
    <div class="col s12 m4"></div>
</div>
