<h4 class="center-align">Get in touch with us</h4>
<div class="row">
    <div class="col s12 m1"></div>
    <div class="col s12 m3">
        <h5>Our Address</h5>
        <p>923 Executive Park Dr<br>
            Suite D<br>
            Murray, UT 84117</p>
        <h5>Phone</h5>
        <p>(801) 281-0486</p>
    </div>
    <div class="col s12 m8">
        <h5>Get Directions</h5>
        <a href="https://www.google.com/maps/place/923+Executive+Park+Dr+Suite+D+Murray,+UT+84117/"><img class="responsive-img" width="600" src="https://maps.googleapis.com/maps/api/staticmap?center=923+Executive+Park+Dr+Suite+D+Murray,+UT+84117&zoom=15&scale=2&size=600x400&maptype=roadmap&key=AIzaSyAnAUzgb9rmpw-TRJCyU2GAtl_i5IG7kNQ&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C923+Executive+Park+Dr+Suite+D+Murray,+UT+84117" alt="Google Map of 923 Executive Park Dr Suite D Murray, UT 84117"></a>
        <div class="col s12 m10 input-field">
            <form action="http://maps.google.com/maps" method="get" target="_blank">
                <label for="saddr">Enter your location</label>
                <input type="text" name="saddr" width="100"/>
                <input type="hidden" name="daddr" value="923 Executive Park Dr Suite D Murray, UT 84117" />
                <button class="btn waves-effect waves-light red darken-4" type="submit" value="Get directions">Get Directions<i class="material-icons right">location_on</i></button>
            </form>
        </div>
    </div>
</div>