<div class="row">
    <div class="col s12"></div>
</div>
<div class="row">
    <div class="col s12 m4 l2 small"></div>
    <div class="col s12 m4 l8 center-align">
        <h5 class="cap1">WillWin Services</h5>
        <img class="responsive-img" src="../img/family.jpeg">
        <h5>Helping Children and Parents strengthen relationships</h5>
    </div>
    <div class="col s12 m4 l2 small"></div>
</div>
<div vertilize-container class="row">
    <div class="col s12 m1"></div>
    <div class="col s12 m3 center-align">
        <h4>Our Services</h4>
        <p vertilize> We offer a variety of Parent-time services such as Neutral Exchanges, Supervised Parent-Time, Monitored phone calls, Supportive Parent-time (therapeutic), Parent to Parent Conferencing, and Mediation.</p>
        <a ui-sref="services" class="waves-effect waves-light btn red darken-4">Find out more</a>
    </div>
    <div class="col s12 m4 center-align">
        <h4>Who we are</h4>
        <p vertilize>Find out more about who we are, and what our goals and mission are as a Parent-TIme service provider and in strengthening the relationship between parents and children </p>
        <a ui-sref="about" class="waves-effect waves-light btn red darken-4">About</a>
    </div>
    <div class="col s12 m3 center-align">
        <h4>Contact Us</h4>
        <p vertilize="">Would you like to learn more about what we offer or get directions to our office? Click here for more info</p>
        <a ui-sref="contact" class="waves-effect waves-light btn red darken-4">Contact</a>
    </div>
    <div class="col s12 m1"></div>
</div>

