<h3 class="center-align">Our Services</h3>
<div vertilize-container class="row">
    <div vertilize class="col s12 m6 l3"><img class="responsive-img" src="../img/spt.jpg"></div>
    <div class="col s12 m6 l3">
        <ul vertilize class="collection with-header">
            <li class="collection-header"><h5>Supervised Parent-time</h5></li>
            <li class="collection-item">Provides the opportunity for the non-residential parent to spent quality time with his/her child(ren) in a safe, neutral environment.</li>
            <li class="collection-item">The child(ren) is within sight and hearing of a supervisor.</li>
            <li class="collection-item">Parent-time can occur on or off-site.</li>
            <li class="collection-item">Objective documentation</li>
            <li class="collection-item">Monitored phone visits are also available.</li>
        </ul>
    </div>
    <div class="col s12 m6 l3"><img class="responsive-img" src="../img/supt.jpg"></div>
    <div class="col s12 m6 l3">
        <ul vertilize class="collection with-header">
            <li class="collection-header"><h5>Supportive Parent-time</h5></li>
            <li class="collection-item">Uses a clinically trained supervisor who plays a role in helping child(ren) and parent interact</li>
            <li class="collection-item">Assists parent in building parenting skills to strengthen the parent/child relationship</li>
        </ul>
    </div>
</div>
<div vertilize-container class="row">
    <div class="col s12 m6 l3"><img class="responsive-img" src="../img/ne.jpg"></div>
    <div class="col s12 m6 l3">
        <ul vertilize class="collection with-header">
            <li class="collection-header"><h5>Neutral Exchanges</h5></li>
            <li class="collection-item">Offers safety and avoids potential conflict when parents are exchanging children for parent-time.</li>
            <li class="collection-item">Neutral Exchanges are helpful for parents who have a protective order or a no-contact order.</li>
            <li class="collection-item">Allows for staggered arrival and depatured times.</li>
        </ul>
    </div>
    <div vertilize class="col s12 m6 l3"><img class="responsive-img" src="../img/p2pcm.jpg"></div>
    <div class="col s12 m6 l3">
        <ul vertilize class="collection with-header">
            <li class="collection-header"><h5>Parent-to-Parent Conferencing & Mediation</h5></li>
            <li class="collection-item">Confidential process</li>
            <li class="collection-item">Parents meet with a mediator and/or program coordinator who facilitates a conversation between parents</li>
            <li class="collection-item">Parents explore the challenges of parenting and work together to form a plan that provides their child(ren) happy, safe, and conflict free interaction with both parents.</li>
        </ul>
    </div>
</div>
