body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media(max-width: 767px) {
  *[vertilize] {
    height: auto !important;
  }
}

@media(max-width: 767px) {
  .getdir {

  }
}